
body, html {
  margin:0;
  background: #B4E3F7;

}
h1 {
  color: #B36528;
}

.App {
  text-align: center;
  
}
a {
  color: black;
  text-decoration: none;
}
#modal-0 {
  /* display: flex; */
    margin: 0px 291px;
    margin-bottom: 150px;
    /* align-self: center; */
    width: 60%;
    /* justify-items: center; */
    /* align-items: center; */
    /* justify-self: center;
    align-content: center; */
    opacity: 1;
    /* bottom: 0px; */
}
.titles {
  color: #000000;
    background: rgba(255,255,255, .5);
    text-align: center;
    padding: 14px;
}
.row {
  padding: 30px;
}
.btn-floating .right .button {
  padding:10px;
}
.container {
  background:rgba(255,255,255, .5);
  border-top: 7px solid  #B36528;
  /* border:10px solid #B36528; */
}
.divider {
  height: 50px;
  width: 100%;
  background: rgba(255,255,255, .5);
}
.sections {
  font-weight: 900;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

/* #events-container {
  background: url('https://images.pexels.com/photos/255377/pexels-photo-255377.jpeg?auto=format%2Ccompress&cs=tinysrgb&dpr=2&w=500') no-repeat;
  background-size: cover;
  background: opacity(.5);
  
} */
#treasures-container {
  background: url('https://images.pexels.com/photos/924007/pexels-photo-924007.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-size: cover;
  /* backdrop-filter: opacity(20%); */
  -webkit-backdrop-filter: opacity(10%)
}
.btn-floating i {
  background:#ffffff;
  color: #8FD4F3; 
  position: sticky;
 
}
.btn-small i{
  background: white;
  color: #adb9bd;

}

.card {
  /* border: 2px solid  #8FD4F3; */
  background-color: rgba(255,255,255, .4);
  
  width: 300px;
  height: 300px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
.card-content {
  height: 100%;
  /* border: 2px solid green; */
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  
}
#past-card{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: center;
}

.card-img  {
  height: 50%;
  /* border: 2px solid purple; */
}


.card-small {
  width: 100px;
  height: 100px;
}

.hide {
  display: none;
}
.button-box {
  margin-top: -38px;
    margin-left: 8px;
}
.show {
  display: block;
}

/* img {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
  

} */
.form {
 padding: 50px;
}
input[type=text]:not(.browser-default) {
  height: 2rem;
}

.button {
  color:#62C4EF;
  /* float: right; */
  position: fixed;
  margin-top: 10px;
  margin-left: 900px;
}
.logo {
  height: auto;
  max-height: 75px;
  width: auto;
  max-width: 75px;
}

.navigation {
  position: sticky; 
  top: 0;
  z-index: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #ffffff;
  padding-top: 20px;
 box-shadow:none; 

  
}
.materialbox-caption {
  background-color: rgba(255,255,255, .2);
  /* left: 908px; */
    /* padding-left: 25px; */
    bottom: 10px;
    /* text-align: left; */
    /* border: 2px solid white; */
    /* width: 50%; */
    /* width: 100px; */
    height: 100px;
}
.treasure-img {
  width: 200px;
  height: 200px;
}


.navigation a {
  color: black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
