
body, html {
  margin:0;
}

.App {
  text-align: center;
  
}
#modal-0 {
  /* display: flex; */
    margin: 0px 291px;
    margin-bottom: 150px;
    /* align-self: center; */
    width: 60%;
    /* justify-items: center; */
    /* align-items: center; */
    /* justify-self: center;
    align-content: center; */
    opacity: 1;
    /* bottom: 0px; */
}
.titles {
  color: #ffffff;
  text-align: center;
}
.row {
  padding: 30px;
}
.btn-floating .right .button {
  padding:10px;
}
.container {
  background: #B36528;
  /* border:10px solid #B36528; */
}
.btn-floating i {
  background:#ffffff;
  color: #8FD4F3; 
 
}
.btn-small i{
  background: white;
  color: #adb9bd;

}

.card {
  
  background-color: rgba(255,255,255, .8);
  width: 300px;
  height: 300px;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: center;
}
.card-content {
  height: 100%;
  /* border: 2px solid green; */
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  
}

.card-img  {
  height: 50%;
  /* border: 2px solid purple; */
}


.card-small {
  width: 100px;
  height: 100px;
}

.hide {
  display: none;
}
.button-box {
  margin-top: -38px;
    margin-left: 8px;
}
.show {
  display: block;
}

/* img {
  height: auto;
  max-height: 200px;
  width: auto;
  max-width: 200px;
  

} */
.form {
 padding: 50px;
}
input[type=text]:not(.browser-default) {
  height: 2rem;
}

.button {
  color:#62C4EF;
  /* float: right; */
}
.logo {
  height: auto;
  max-height: 75px;
  width: auto;
  max-width: 75px;
}

.navigation {
  position: sticky; 
  top: 0;
  z-index: 1;
  display: flex;
  align-content: center;
  justify-content: center;
  background: #ffffff;
  padding-top: 20px;
 box-shadow:none; 

  
}
.materialbox-caption {
  top:0;
  border: 2px solid white;
}
.treasure-img {
  width: 200px;
  height: 200px;
}


.navigation a {
  color: black;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
